.dropdown-toggle {
  &:after {
    display: inline-block;
    width: 0.6rem;
    height: auto;
    margin: -0.3em 0 0 0.4em;
    content: url("/images/chevron-down.svg");
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
    &:hover {
      filter: invert(0%) sepia(6%) saturate(7476%) hue-rotate(328deg)
        brightness(103%) contrast(106%);
    }
  }
  &.show:after {
    transform: rotate(180deg);
  }
}

.btn-menu {
  padding-inline: 3.5rem;
  @include media-breakpoint-up(md) {
    padding-inline: 0.75rem;
  }
}

.img-hero {
  background-image: url("/images/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 640px;
  width: 100%;
  @include media-breakpoint-up(md) {
    background-image: url("/images/image-hero-desktop.png");
  }
}
