.dropdown-toggle {
  &:after {
    display: inline-block;
    width: 0.6rem;
    height: auto;
    margin: -0.3em 0 0 0.4em;
    content: url("/images/chevron-down.svg");
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
    &:hover {
      filter: invert(0%) sepia(6%) saturate(7476%) hue-rotate(328deg)
        brightness(103%) contrast(106%);
    }
  }
  &.show:after {
    transform: rotate(180deg);
  }
}

.btn-menu {
  padding-inline: 3.5rem;
  @include media-breakpoint-up(md) {
    padding-inline: 0.75rem;
  }
}

.img-hero {
  // background-image: url("/images/image-hero-mobile.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 100% 100%;
  // // min-height: 640px;
  // width: 100%;
  // height: auto;
  // @include media-breakpoint-up(md) {
  //   background-image: url("/images/image-hero-desktop.png");
  // }
  max-width: 480px;
  width: 100%;
  height: auto;
}

p {
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.125;
  }
}

.dropdown-menu {
  @include media-breakpoint-up(lg) {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    .dropdown-item {
      padding-inline: 1rem 1rem;
    }
  }
}

.btn-primary {
  --snap-btn-color: #fff;
  --snap-btn-bg: #151515;
  --snap-btn-border-color: #151515;
  --snap-btn-hover-color: #151515;
  --snap-btn-hover-bg: #fff;
  --snap-btn-hover-border-color: #151515;
  --snap-btn-focus-shadow-rgb: 56, 56, 56;
  --snap-btn-active-color: #fff;
  --snap-btn-active-bg: #111111;
  --snap-btn-active-border-color: #101010;
  --snap-btn-active-shadow: inset 0 3px 5px rgba(21, 21, 21, 0.125);
  --snap-btn-disabled-color: #fff;
  --snap-btn-disabled-bg: #151515;
  --snap-btn-disabled-border-color: #151515;
}
