//$font-size-base = 1rem/16px

//default: 1rem

@include media-breakpoint-up(sm) {
  h1,
  .h1 {
    font-size: $font-size-base * 1.6;
  }
}

@include media-breakpoint-up(md) {
  h1,
  .h1 {
    font-size: $font-size-base * 2;
  }
}

@include media-breakpoint-up(lg) {
  h1,
  .h1 {
    font-size: $font-size-base * 3.6;
    line-height: $font-size-base * 3.5;
  }
}

@include media-breakpoint-up(xl) {
  h1,
  .h1 {
    font-size: $font-size-base * 3.5;
  }
}

@include media-breakpoint-up(xxl) {
  h1,
  .h1 {
    font-size: $font-size-base * 4.4;
  }
}
