// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #fafafa;
$gray-500: #696969;
$gray-900: #212529;
$black: #151515;

$min-contrast-ratio: 3;

$primary: $black;
$secondary: $gray-500;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

// $enable-shadows: true;
// $enable-gradients: true;
$enable-caret: false;

// Prefix for :root CSS variables

$variable-prefix: snap-;

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
// scss-docs-end spacer-variables-maps

// Body
//
// Settings for the `<body>` element.

$body-text-align: center;
$body-color: $gray-500;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
// scss-docs-end grid-breakpoints

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1360px,
);
// scss-docs-end container-max-widths

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 1.5rem;

// Container padding

$container-padding-x: $grid-gutter-width;

$border-color: $gray-500 !default;
$border-color-translucent: none;

// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius: 0.625rem;
$border-radius-sm: 0.9375rem;

$box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);

$component-active-color: $primary;
$component-active-bg: $white;

$font-family-base: "Epilogue", sans-serif;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-light: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-medium !default;

$line-height-base: 1.75;
$line-height-lg: 5;

$h1-font-size: $font-size-base * 5;

$headings-margin-bottom: $spacer * 3;
$headings-font-family: $font-family-base;
$headings-font-weight: 700;
$headings-line-height: $font-size-base * 5;
$headings-color: $primary;

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;

$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-font-size-sm: $font-size-sm;

$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;

$input-btn-border-width: 1px;
// scss-docs-end input-btn-variables

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
// $btn-color: var(--bs-body-color);
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-white-space: nowrap; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;

$btn-border-width: $input-btn-border-width;

$btn-font-weight: $font-weight-bold;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125);

$btn-link-color: $primary;
$btn-link-hover-color: $primary;
$btn-link-disabled-color: $gray-500;

// Allows for customizing button radius independently from global border radius

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;

// Navs

// scss-docs-start nav-variables
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
$nav-link-font-size: $font-size-sm;
$nav-link-font-weight: $font-weight-medium;
$nav-link-color: $secondary;
$nav-link-hover-color: $primary;
$nav-link-transition: color 0.15s ease-in-out background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;

// // Navbar

// // scss-docs-start navbar-variables
$navbar-padding-y: $spacer * 0.5;
$navbar-padding-x: null;
$navbar-nav-link-padding-x: 0.5rem;
// $navbar-brand-font-size: $font-size-lg !default;
// // Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
// $nav-link-height: $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
// $navbar-brand-height: $navbar-brand-font-size * $line-height-base !default;
// $navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height) * 0.5 !default;
// $navbar-brand-margin-end: 1rem !default;

// $navbar-toggler-padding-y: 0.25rem !default;
// $navbar-toggler-padding-x: 0.75rem !default;
// $navbar-toggler-font-size: $font-size-lg !default;
// $navbar-toggler-border-radius: $btn-border-radius !default;
// $navbar-toggler-focus-width: $btn-focus-width !default;
// $navbar-toggler-transition: box-shadow 0.15s ease-in-out !default;

// $navbar-light-color: rgba(var(--#{$prefix}emphasis-color-rgb), 0.65) !default;
// $navbar-light-hover-color: rgba(
//   var(--#{$prefix}emphasis-color-rgb),
//   0.8
// ) !default;
// $navbar-light-active-color: rgba(
//   var(--#{$prefix}emphasis-color-rgb),
//   1
// ) !default;
// $navbar-light-disabled-color: rgba(
//   var(--#{$prefix}emphasis-color-rgb),
//   0.3
// ) !default;
// $navbar-light-icon-color: rgba($body-color, 0.75) !default;
// $navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
// $navbar-light-toggler-border-color: rgba(
//   var(--#{$prefix}emphasis-color-rgb),
//   0.15
// ) !default;
// $navbar-light-brand-color: $navbar-light-active-color !default;
// $navbar-light-brand-hover-color: $navbar-light-active-color !default;
// // scss-docs-end navbar-variables

// // scss-docs-start navbar-dark-variables
// $navbar-dark-color: rgba($white, 0.55) !default;
// $navbar-dark-hover-color: rgba($white, 0.75) !default;
// $navbar-dark-active-color: $white !default;
// $navbar-dark-disabled-color: rgba($white, 0.25) !default;
// $navbar-dark-icon-color: $navbar-dark-color !default;
// $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
// $navbar-dark-toggler-border-color: rgba($white, 0.1) !default;
// $navbar-dark-brand-color: $navbar-dark-active-color !default;
// $navbar-dark-brand-hover-color: $navbar-dark-active-color !default;
// // scss-docs-end navbar-dark-variables
